i {
  position: relative;
  display: inline-block;
  font-size: 1.05rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: rgb(255, 255, 12);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
