.not-found-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-description {
  margin: 1rem;
  text-align: justify;
}

.not-found-title {
  font-weight: bold;
}

.not-found-image {
  width: 350px;
  height: auto;
}

.not-found-button {
  font-size: 16px;
  padding: 1em 1.6em;
  cursor: pointer;
  transform: perspective(200px) rotateX(15deg);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(0deg, var(--dark-blue) 0%, var(--light-blue) 100%);
  box-shadow: rgba(63, 94, 251, 0.2) 0px 20px 14px 0px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 2px solid var(--light-blue);
}

.not-found-button:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

.not-found-button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}
