.swiper-wrapper{
  color: white;
}

.actor-link{
  text-decoration: none;
  color: white;
}

.actor-link:hover{
  opacity: 0.6;
}

.img-thumbnail:hover{
  background-color: rgba(27, 253, 156, 0.6);
  border: none;
}