<div class="row film-details" *ngIf="film">
  <div class="col-md-6 my-3">
    <!-- Imagen -->
    <img [src]="film.poster_path | poster" [alt]="film.title" class="img-thumbnail" />
  </div>
  <div class="col-md-6">
    <!-- Detalle -->
    <h3 class="light-text">{{ film.title }}</h3>
    <div class="row mb-3">
      <div class="col">
        <rating-decimal [rate]="film.vote_average"></rating-decimal>
      </div>
      <div class="col">
        <p class="light-text">{{ film.vote_average | number : '1.1-2' }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="light-text">{{ film.overview }}</p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-outline-info" (click)="onBackHome()">
          {{ 'FILM-DETAILS_BACK' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5" *ngIf="cast.length > 0">
  <div class="col">
    <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
  </div>
</div>
