h3 {
  font-size: 15px;
}

.poster-image {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.poster-description {
  color: white;
  margin-left: 12px;
}

.poster-title {
  margin-top: 4px;
}

.poster-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.poster-card:hover {
  transform: scale(1.05);
}
